.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1440px;
  min-height: 100vh;
}

.main {
  overflow-x: scroll;
  display: block;
  min-height: calc(100vh - 125px);
}

.scroller {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer {
  font-size: 14px;
  font-weight: 300;
  line-height: 48px;
  color: #FFF;
  width: 100%;
  margin-top: 15px;
}