.nav {
  width: 100%;
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
}

.logo {
  font-size: 15px;
  font-weight: 600;
  color: #FFF;
  display: inline-block;
  margin-right: 15px;
}

.left {
  position: relative;
}

.left .btn {
  position: relative;
}

@media (max-width: 548px) {
  .logo {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }

  .right a {
    margin-top: 34px;
  }
}